body {
  background-color: #232323;
}

.container {
  position: absolute;
  margin: 12% 0 0 35%;
}

#title {
  font-family: "Alfa Slab One";
  color: white;
}

p small {
  color: grey;
}

#starwars, #supermario {
  font-family: "Cabin";
}