h1 {
    text-align: center;
    font-weight: bolder;
    font-size: calc(40px + (40 - 12) * ((120vw - 500px) / (1100 - 300)));
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    transition: all 0.5s;
    position: relative; 
	top: 200px;
    left: 29px;
    
}
h1:hover {
    transform: scale(1.1);
    color: darkorange;
    cursor: alias;
    font-style: italic;
}
body {
    background-image: url(background.jpg);
    background-size: inherit;
    background-position: top;
    background-repeat: no-repeat;
    background-color: black;
}
p {
    text-align: center;
    position: relative; 
	top: 550px;
	left: 29px;
}

.btn {
    opacity: 0.2;
    transition: all 0.8s;
}
.btn:hover {
    opacity: 0.7;
}